<header
class="flex sm:h-[67px] md:h-[81px] bg-white flex-row items-center px-[26px] py-[23px] max-sm:p-[16px]"
>
<!-- icon container -->
<div class="">
  <img src="../assets/icons/logo.png" alt="logo" />
</div>
<!-- menu -->
<div class="flex mr-[70px] max-sm:hidden">
  <ul class="flex flex-row">
    <li
      class="text-white flex flex-row justify-center items-center gap-2"
    >
      <img
        src="../assets/icons/header-menu-home.png"
        alt="menu"
        class="h-[25px] w-[25px]"
      />
      <p class="text-[var(--color-primary)]">خانه</p>
    </li>
    <li
      class="text-white flex flex-row justify-center items-center gap-2 mr-[19px]"
    >
      <img
        src="../assets/icons/header-menu-anjomanAcademyTekanesh.png"
        alt="menu"
        class="h-[25px] w-[25px]"
      />
      <p class="text-[var(--color-primary)]">انجمــــــن آکادمـــــی تکانش</p>
    </li>
    <li
      class="text-white flex flex-row justify-center items-center gap-2 mr-[19px]"
    >
      <img
        src="../assets/icons/header-menu-groupListening.png"
        alt="menu"
        class="h-[25px] w-[25px]"
      />
      <p class="text-[var(--color-primary)]">انجمــــــن گروپلنسینـــــــگ</p>
    </li>
  </ul>
</div>
<!-- user avatar profile -->
<div class="flex flex-row items-center gap-[21px] mr-auto">
  <img
    src="../assets/icons/userProfile.png"
    alt="user"
    class="h-[40px] w-[40px]"
  />
  <div>
    <p class="font-semibold text-[var(--color-primary)]">تیــــدا گودرزی</p>
    <p class="text-[var(--color-secondary)] font-normal">دانشجوی آپورک</p>
  </div>
  <img
    src="../assets/icons/header-menu-divider-vertical.png"
    alt="arrow"
    class=""
  />
  <div
    class="flex flex-row items-center justify-between rounded-[47px] border-[var(--color-secondary)] border p-[4px] h-[36px] w-[155px]"
  >
    <p class="text-[var(--color-primary)]">دریافت اطلاعات از تکانش</p>
    <img
      src="../assets/icons/subscribe.png"
      alt="download"
      class="h-[26px] w-[26px]"
    />
  </div>
</div>
</header>